@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider auth
<CascadingAuthenticationState>
    <AuthorizeView>
        <Authorized>
            @if (true) {
                LoggedIn = true;
            }
            <div class="main-container">
                <header class="header header-2">
                    <div class="branding">
                        <span class="title">ITHS-Management</span>
                    </div>
                    <div class="logoutButton">
                        <button class="btn btn-inverse" @onclick="LogoutRedirect">Logga ut</button>
                    </div>
                    
                </header>

                <div class="content-container">
                    <NavMenu />
                    <div class="content-area">
                        @Body
                    </div>
                </div>
            </div>
        </Authorized>
        <NotAuthorized>
            @if(true) {
                LoggedIn = false;
            }
        </NotAuthorized>
    </AuthorizeView>
</CascadingAuthenticationState>

@code {
    public bool LoggedIn { get; set; } = false;
    private void LogoutRedirect()
    {
        NavigationManager.NavigateTo("/logout", true);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!LoggedIn)
        {
            NavigationManager.NavigateTo("/login", true);
        }
    }

} 